{% set component_media_links_classes = component_media_links_classes|default() %}

<div class="component-pl component--media-links {{ component_media_links_classes }}">
    <a class='component--media-links__link component--media-links__link--dribbble' href='https://dribbble.com/jacobcaccamo'>
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-dribbble-5-240.png" alt='Dribbble'>
    </a>
    <a class='component--media-links__link component--media-links__link--instagram' href='https://www.instagram.com/jacobcaccamodesigns/'>
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-instagram-15-240.png" alt='Instagram'>
    </a>
     <a class="component--media-links__link component--media-links__link--linkedin" href="https://www.linkedin.com/in/jacob-caccamo-1435a288">
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-linkedin-5-240.png" alt='Linkedin'>
    </a>
    <a class='component--media-links__link component--media-links__link--github' href='https://github.com/Jaroca124'>
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-github-5-240.png" alt='Github'>
    </a>
    <a class='component--media-links__link component--media-links__link--behance' href='https://www.behance.net/jacobcaccamo'>
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-behance-5-240.png" alt='Behance'>
    </a>
    <a class='component--media-links__link component--media-links__link--gmail' href='mailto:jacob.caccamo@gmail.com'>
        <img class='icon' src="{{ path_to_assets }}assets/icons/iconmonstr-email-11-240.png" alt='Email'>
    </a>
</div>