{% set experience_block_classes = experience_block_classes|default() %}
{% set experience_block_logo_img_src = experience_block_logo_img_src|default() %}
{% set experience_block_logo_img_alt = experience_block_logo_img_alt|default() %}
{% set experience_block_company = experience_block_company|default() %}
{% set experience_block_position = experience_block_position|default() %}
{% set experience_block_time_period = experience_block_time_period|default() %}
{% set experience_block_description = experience_block_description|default() %}
{% set experience_block_responsibilities = experience_block_responsibilities|default() %}

<div class="experience-block card {{ experience_block_classes }}">
    <div class="card-body">
        <div class="logo-wrapper">
            {% include "@atoms/images/default-image/default-image.twig" with
                {
                    "image_src": experience_block_logo_img_src,
                    "image_alt": experience_block_logo_img_alt,
                    "image_style": "experience-block-logo"
                }
            %}
        </div>
        <h2 class="company-name">{{ experience_block_company }}</h2>
        <p class="company-position">{{ experience_block_position }}</p>
        <p class="time-period">{{ experience_block_time_period }}</p>
        <hr>
        <p class="company-description">{{ experience_block_description }}</p>
        <hr>
        <ul class="mx-auto">
            {% for bullet in experience_block_responsibilities %}
                <li>{{ bullet.text }}</li>
            {% endfor %}
        </ul>
        
        <!--
        <div class="row">
            <div class="col-md-6 pr-1">
                <img class="d-block img-fluid mx-auto" ng-src="{{ exp.galleryImages[0].url }}" alt="{{ exp.galleryImages[0].alt }}">
            </div>
            <div class="col-md-6 pl-1">
                <img class="d-block img-fluid mx-auto" ng-src="{{ exp.galleryImages[1].url }}" alt="{{ exp.galleryImages[1].alt }}">
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-12">
                <img class="d-block img-fluid mx-auto" ng-src="{{ exp.galleryImages[2].url }}" alt="{{ exp.galleryImages[2].alt }}">
            </div>
        </div>
        -->
    </div>   
</div>